body{
    padding: 30px;
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}
img{
    width: 100%;
}
.gridy{
    text-align: center;
    border: solid 1px #FA9494;
background-color: #FFD8A9;
}
.search{
    display: block;
    text-align: center;
    padding: 50px 100px;
}
input{
    width: 20%;
}